@using proje.Entities
@model Personel
@{
    ViewData["Title"] = "Personel";
}


<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Personel</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active">Personel</li>
                        <li class="breadcrumb-item active">Create</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">

            @if (TempData.Count != 0)
            {
                <div class="row">
                    <div class="alert alert-success alert-dismissible fade show col-md-12" role="alert">
                        <strong>@TempData["Mesaj"]</strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>

            }

            <!-- Main row -->
            <div class="row">
                <!-- Left col -->
                <div class="col-md-12">
                    <!-- CATEGORY CREATE -->
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Create</h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                                <button type="button" class="btn btn-tool" data-card-widget="remove">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body p-0">
                            <div style="margin:40px;">
                                <form asp-action="Create">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label>Ad</label>
                                            <input asp-for="Name" type="text" class="form-control" placeholder="">
                                            <span asp-validation-for="Name" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>Meslek</label>
                                            <input asp-for="Job" type="text" class="form-control" placeholder="">
                                            <span asp-validation-for="Job" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-12">
                                            <label>Facebook</label>
                                            <input asp-for="FacebookUrl" class="form-control">
                                            <span asp-validation-for="FacebookUrl" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label>Instagram</label>
                                            <input asp-for="InstagramUrl" class="form-control">
                                            <span asp-validation-for="InstagramUrl" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label>Twitter</label>
                                            <input asp-for="TwitterUrl" class="form-control">
                                            <span asp-validation-for="TwitterUrl" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label>Mail</label>
                                            <input asp-for="MailUrl" class="form-control">
                                            <span asp-validation-for="MailUrl" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label>Sıra Numarası</label>
                                            <input asp-for="Order" type="number" class="form-control">
                                            <small style="font:italic; font-size:10px;">*Sayfadaki konumu</small>
                                            <span asp-validation-for="Order" class="text-danger"></span>
                                        </div>
                                    </div>

                                    @Html.HiddenFor(m => m.Id)
                                    <button type="submit" value="Create" class="btn btn-primary">Kaydet</button>

                                </form>
                                <label></label>
                                <label></label>
                            </div>
                        </div>

                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>


            </div>           



        </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
</aside>
<!-- /.control-sidebar -->
